version: '3.8'

services:
  backend:
    image: miinning/vroom2go_backend:latest
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - backend-net
    restart: always

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword # Change this and update .env too
      MYSQL_DATABASE: vroom2go
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - backend-net

networks:
  backend-net:
    driver: bridge

volumes:
  db-data:
